@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Josefin+Sans:ital@1&family=Roboto+Condensed:ital@1&display=swap');

$primary-color: #5380fc;
$secondary-color: #ff3f34;
$light-color: #eff7ff;
$dark-color: #1e272e;
$white-color: #fff;
$primary-rgba: rgba(255, 211, 42, 0.6);
$secondary-rgba: rgba(255, 63, 52, 0.6);
$black-color: #000;

#navbar {
  background: $light-color;
  padding: 10px 0;
  font-family:Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  // z-index: 1;
}
.main-matmenu{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -6px;
}
.matmenu button{
  color: $black-color;
}
button:hover{
  color: $primary-color;
}
.side-nav {
  color: #fff;
  margin-top: 18px;
}

.side-bar ul {
  display: flex !important;
  margin: 20px;
}
.active.side-nav {
  transform: translateX(0);
}

.side-nav ul li {
  list-style: none;
  padding: 0px 15px;
}

.side-nav-link {
  color: $white-color;
  text-decoration: none;
  color: $dark-color;
  /* border-top: 1px solid var(--white-color); */
  /* border-bottom: 1px solid var(--white-color); */
  margin: 10px 0;
  padding: 5px 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.side-nav-link:hover{
  color: $primary-color;
  background-color: rgba(224, 224, 224, 0.466);
  padding: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: rgba(255, 255, 255, 0.15);
}

/*--blog--------------------------*/
#blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading span{
  color: $primary-color;
}
.blog-heading h3{
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width:80%;
  background-color: $white-color;
  border: 1px solid #d5d5d5;
  margin: 20px 20px;
  text-align: center;
}
.blog-img{
  width:100%;
  height: auto;
}
.blog-img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span{
  color: $primary-color;
  font-size: 0.9rem;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.link a{
  background-color: $primary-color;
  color: $white-color;
  padding: 10px 18px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.link a:hover{
  background-color: $light-color;
  color: $black-color;
  transition: all ease 0.3s;
}


@media(max-width:1250px){

  .blog-box{
      width: 300px;
  }
}
@media(max-width:1100px){
  .blog-box{
      width:70%;
  }
}

@media(max-width:550px){

  .blog-box{
      margin: 20px 10px;
      width: 100%;
  }
  #blog{
      padding:20px;
  }
}
#page-header {
  background: url('../../../assets/images/slider-bg.jpg');
  background-size: cover;
  padding: 100px 0;
  color: $white-color;
  background-position: center center;
  padding-top: 170px;
}

.divider {
  padding: 50px 0;
}

.fleet-box {
  background: $light-color;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.fleet-title,
.fleet-button {
  margin: 10px 0;
}

.fleet-specs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


@media only screen and (max-width: 600px) {

  .col-sm-4,
  .col-sm-6,
  .col-sm-3 {
    margin: 10px 0;
  }
}
#footer {
  background: $dark-color;
  // margin-top: -100px;
  padding: 150px 0 50px 0;
  color: $white-color;
}

.footer-title {
  font-size: 20px;
  color: $white-color;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-title-primary {
  color: $primary-color;
}

.footer-link {
  color: $white-color;
  display: block;
  text-decoration: none;
  margin: 10px 0;
}

#footer-anim {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('../../../assets/images/city-skiline.png');
  height: 200px;
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

.truck-1 {
  position: absolute;
  bottom: 0;
  right: 10px;
  height: 60px;
  animation: truckOneAnim 10s linear infinite;
  animation-delay: 1s;
}

.truck-2 {
  position: absolute;
  bottom: 0;
  right: 150px;
  height: 60px;
  animation: truckOneAnim 10s linear infinite;
  animation-delay: 4s;
}

.truck-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  animation: truckTwoAnim 10s linear infinite;
}

@keyframes truckOneAnim {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

@keyframes truckTwoAnim {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

#copyright {
  background: $black-color;
  padding: 20px 0 10px 0;
  color: $white-color;
}

#download {
  background: $dark-color;
  color: $white-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#download img {
  height: 20px;
}

.btn-download {
  background: $primary-color;
  width: 100%;
  border-radius: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: $white-color;
  text-align: center;
  transition: 0.3s linear;
  animation: downloadAnim 2s linear infinite;
}

.btn-download:hover {
  background: $secondary-color;
  color: $white-color;
}
