@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Josefin+Sans:wght@300;400&family=Lato:wght@700&family=Open+Sans&family=Playfair+Display:ital,wght@1,600&family=Poppins&family=Roboto+Condensed:ital@1&family=Urbanist&display=swap');

:root{
  --primary-color:rgb(1, 1, 104);
  --secondery-color:#f6f0f0;
  --button-bg-color:linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(226, 112, 5) 100.2%);
  --button-color:#fff;
  --font-color-black:#000;
  --font-color-gray:rgb(116, 115, 115);
  --btn-hover-bg-color:#fff;
  --btn-hover-color:#e36003;
  --box-shadow:box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family:'Josefin Sans', sans-serif;
}S

h3{
  font-family: 'Montserrat', sans-serif;
}
