// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Poppins',sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: aliceblue;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h3 {
  font-weight: 650;
  text-align: center;
  letter-spacing: 0.6px;
  margin-top: 15px;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0px 0;
}

form .user-details .input-box {
  margin-bottom: 20px;
  width: calc(100% / 2 - 20px);
  position: relative;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.gender-details  {
  .gender-option {
    display: flex;
  }

  .gender {
    margin-right: 70px;
  }
  h4{
    margin-bottom: 10px;
  }
}

form .button {
  height: 45px;
  margin: 20px 0px;
}

.button:disabled{
  background-color: #cacaca;
}

form .button input {
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  // position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 18px;
  color: #cacaca;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 5px;
}

.form-link {
  text-align: center;
  padding-top: 20px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.form-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.error-content {
  font-size: 13px;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
