<body>
  <div class="container">
    <h3>Register Now !</h3>
    <div class="content">
      <form [formGroup]="signupForm">
        <div class="user-details">
          <div class="input-box">
            <input type="text" placeholder="First Name" formControlName="fname">
            <div class="error-content" *ngIf="fnameValidators && fnameValidators.invalid && fnameValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Please fill up your First name..!</span>
            </div>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Last Name" formControlName="lname">
            <div class="error-content" *ngIf="lnameValidators && lnameValidators.invalid && lnameValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Please fill up your Last name..!</span>
            </div>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Email" formControlName="email">
            <div class="error-content" *ngIf="emailValidators && emailValidators.invalid && emailValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Please fill up your email address..!</span>
            </div>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Phone number" formControlName="phoneno">
            <div class="error-content" *ngIf="phonenoValidators && phonenoValidators.dirty && phonenoValidators.touched">
              <div class="error" *ngIf="phonenoValidators.errors?.['required']"><i class='bx bx-error-circle'></i> Phone number is required.</div>
              <div class="error" *ngIf="phonenoValidators.errors?.['invalidPhoneNumber']"><i class='bx bx-error-circle'></i> Phone number must be between 10 and 10 characters.</div>
              <!-- <div *ngIf="mobileControl.errors?.['pattern']">* Only Number is required.</div> -->
            </div>
            <!-- <div class="error-content"
              *ngIf="phonenoValidators && phonenoValidators.invalid && phonenoValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Please fill up your phone no..!</span>
            </div> -->
          </div>
          <div class="input-box">
            <input [type]="show ? 'text' : 'password'" placeholder="Password" formControlName="password"
              name="password">
            <i class='bx bx-hide eye-icon' (click)="onClick()" aria-hidden="true" *ngIf="!show"></i>
            <i class='bx bx-show eye-icon' (click)="onClick()" aria-hidden="true" *ngIf="show"></i>
            <div class="error-content" *ngIf="passValidators && passValidators.invalid && passValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Please fill up atleast any 6 character..!</span>
            </div>
          </div>
          <div class="input-box">
            <input [type]="showhide ? 'text' : 'password'" placeholder="Confirm Password" formControlName="cpassword"
              name="cpassword">
            <i class='bx bx-hide eye-icon' (click)="onClickOn()" aria-hidden="true" *ngIf="!showhide"></i>
            <i class='bx bx-show eye-icon' (click)="onClickOn()" aria-hidden="true" *ngIf="showhide"></i>
            <div class="error-content" *ngIf="cpassValidators && cpassValidators.invalid && cpassValidators.touched">
              <span class="error"><i class='bx bx-error-circle'></i> Don't match your password..!</span>
            </div>
          </div>
        </div>
        <div class="gender-details">
          <h4>Gender</h4>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" name="gender" value="male" formControlName="gender" class="box"> Male
            </div>
            <div class="gender">
              <input type="radio" name="gender" value="female" formControlName="gender" class="box"> Female
            </div>
            <div class="gender">
              <input type="radio" name="gender" value="other" formControlName="gender" class="box"> Prefer not to say
            </div>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register" class="btn btn-primary button" (click)="onSubmit()"
            [disabled]="signupForm.invalid">
        </div>
      </form>
      <div class="form-link">
        <span>Allready have an account? <a routerLink="/login" class="link signup-link">Login</a></span>
      </div>
    </div>
  </div>
</body>
