<body>

  <section id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 d-flex" style="justify-content: space-between; align-items: center;">
          <div class="logo">
            <!-- <h4>QUICK CARRENT</h4> -->
            <a [routerLink]="['/web/home']">
              <img src="../../../assets/images/carlogo1.png" class="img-fluid" style="height: 64px;">
            </a>
          </div>

          <div class="side-nav">
            <ul style="display: flex; justify-content: center;">

              <li><a [routerLink]="['/web/home']" class="side-nav-link">Home</a></li>

              <li class="dropdown a">
                <button mat-button [matMenuTriggerFor]="menu" class="main-matmenu">Pages</button>
                <mat-menu #menu="matMenu" class="matmenu">
                  <button mat-menu-item [routerLink]="['/web/about']">ABOUT</button>
                  <button mat-menu-item [routerLink]="['/web/services']">SERVICES</button>
                  <button mat-menu-item [routerLink]="['/web/term-condition']">TERMS
                    & CONDITION</button>
                  <button mat-menu-item [routerLink]="['/web/booking-detail']">MY BOOKING</button>
                  <!-- <button mat-menu-item [routerLink]="['/web/payment']">PAYMENT</button> -->
                </mat-menu>
              </li>

              <li class="dropdown a">
                <button mat-button [matMenuTriggerFor]="aboveMenu" class="main-matmenu">Blogs</button>
                <mat-menu #aboveMenu="matMenu" class="matmenu">
                  <button mat-menu-item [routerLink]="['/web/bloglist']">BLOG LIST</button>
                  <button mat-menu-item [routerLink]="['/web/blogdetail']">BLOG DETAILS</button>
                </mat-menu>
              </li>

              <li><a [routerLink]="['/web/cars']" class="side-nav-link">All Cars</a></li>
              <li><a [routerLink]="['/web/contact']" class="side-nav-link">Contact</a></li>
              <li><a [routerLink]="['/login']" class="side-nav-link">Logout</a></li>
              <!-- <li><a [routerLink]="['/web/cart']" style="color: black; font-size: 20px;"><i class="fa-solid fa-cart-plus"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Services</h2>
          <h6>Our Latest Services</h6>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">Our Services</h1>
        </div>
      </div>
    </div>
  </section> -->

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-3">Car Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"><img src="../../../assets/images/location.png" alt="" width="50px" height="50px"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Wedding Ceremony</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"><img src="../../../assets/images/location.png" alt="" width="50px" height="50px"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">City Transfer</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"><img src="../../../assets/images/location.png" alt="" width="50px" height="50px"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Airport Transfer</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="services services-2 w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"><img src="../../../assets/images/location.png" alt="" width="50px" height="50px"></span></div>
            <div class="text w-100">
              <h3 class="heading mb-2">Whole City Tour</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cta">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>Feel your journey with unique service!</h2>
          <p>"Effortless travel with on-demand cabs & luxury car rentals. 24/7 accessibility, transparent pricing, and
            safety-first."</p>
          <a [routerLink]="['/web/home']" class="btn btn-custom-dark">Book Now</a>
        </div>
        <div class="col-sm-4">
          <div><span class="icon">&rarr;</span> Easy payment systems.</div><br>
          <div><span class="icon">&rarr;</span> Make safety a top priority.</div><br>
          <div><span class="icon">&rarr;</span> First and quick pickups.</div><br>
          <div><span class="icon">&rarr;</span> Access Cabs all over India.</div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h4 class="footer-title">Working Hours</h4>
          <h6 class="footer-title-primary">Monday-Saturday</h6>
          <p>9:00 AM - 10:00 PM</p>

          <h6 class="footer-title-primary">Sunday</h6>
          <p>10:00 AM - 9:00 PM</p>
        </div>

        <div class="col-sm-3">
          <h4 class="footer-title">Quick Links</h4>
          <a [routerLink]="['/web/home']" class="footer-link">HOME</a>
          <a [routerLink]="['/web/about']" class="footer-link">PAGES</a>
          <a [routerLink]="['/web/bloglist']" class="footer-link">BLOGS</a>
          <a [routerLink]="['/web/cars']" class="footer-link">ALL CARS</a>
          <a [routerLink]="['/web/contact']" class="footer-link">CONTACT</a>
      </div>

      <div class="col-sm-3">
        <h4 class="footer-title">Our Office</h4>
        <h6 class="footer-title-primary">Location:</h6>
        <p>Lala Devidayal Rd, Mulund West, Mumbai, Maharashtra-400080</p>
        <h6 class="footer-title-primary">Join us</h6>
        <p>SpeedyWheels.com</p>
        <p><a href="tel:+917063086847" style="color: #fff; text-decoration: none;">+91-8167540298</a></p>
      </div>

        <div class="col-sm-3">
          <h4 class="footer-title">Newsletter</h4>
          <form action="#" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email address" class="form-control" required>

            <button class="btn btn-custom-primary mt-2" style="width: 100%;">Subscribe Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section id="footer-anim">
    <img src="../../assets/images/truck-1.png" class="img-fluid truck-1">
    <img src="../../assets/images/truck-2.png" class="img-fluid truck-2">
    <img src="../../assets/images/truck-3.png" class="img-fluid truck-3">
  </section>
  <section id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>&copy; Copyright 2012-2023 | All Right Reserved</p>
        </div>
      </div>
    </div>
  </section>
</body>
