<div class="container-fuild">
  <div class="" *ngIf="dailogBox">
    <form class="example-form" [formGroup]="forgotEmail">
      <h3>Forgot Password !</h3>
      <div class="content-title">
        <p>Enter the email address associated with your register account.</p>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" value="" formControlName="email">
      </mat-form-field>

      <div class="example-button-row">
        <button class="btn btn-primary" (click)="forgotDialog()">Send OTP</button>
      </div>
    </form>
  </div>


  <div class="content" *ngIf="otpDailogBox">
    <form class="otc" name="one-time-code" action="#">
      <h4>Email Verification !</h4>
      <div class="content-title">
        <p>Please Enter 4 digit code that send to your email address.</p>
      </div>
      <fieldset>
        <ng-otp-input #ngOtpInput
        (onInputChange)="onOtpChange($event)"
        *ngIf="showOtpComponent"
        [config]="config"></ng-otp-input>

        <div class="display-otp">
          <div class="otp-time" >
            {{display}}
          </div>
          <div class="resend-link" >
            <a [ngClass]="isOtp ? 'disable-link' : 'anable-link'" (click)="isOtpVerify()">Resend OTP</a>
          </div>
        </div>

        <div class="example-button-row">
          <button class="btn btn-primary" (click)="otpDailog()" [disabled]="!isOtp">Verify Code</button>
        </div>
      </fieldset>
    </form>
  </div>








  <div class="example-container">
    <form class="example-form" *ngIf="passDailogBox">
      <h3>Update Password !</h3>
      <div class="content-title">
        <p>Your new password must be different form prviouly used password..</p>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button class="btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Enter Confirm password</mat-label>
        <input matInput [type]="hideshow ? 'password' : 'text'">
        <button class="btn" mat-icon-button matSuffix (click)="hideshow = !hideshow" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hideshow ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="example-button-row">
        <button class="btn btn-primary" [routerLink]="['/login']">Update Password</button>
      </div>

      <!-- <div class="card flex justify-content-center">
        <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
      </div> -->
    </form>
  </div>
</div>
